<%- include('partials/header'); %>
    <div class="body ">
        <div class="container bg-container">
            <div class="row ">
                <div class="col-12 welcomeDiv text-center ">
                    <p><i class="fa-brands fa-bitcoin  "></i></p>
                </div>
                <div class="col-12 welcomeDiv text-left ">
                    <h5> Get information about what exchange to use in order to get the best deal. Thinking about
                        buying? Check where the price is lower. Need to sell? Learn where you can get the best price for
                        your precious Bitcoin!
                    </h5>
                </div>
            </div>
            <hr class="border-2 opacity-50">
            <div class="row text-left">
                <div class="col-12 ">
                    <h4>The average Bitcoin price is:
                        <span class="varFromEjs">
                            <%= bitcoinPrice2.toLocaleString('us-US')%> $
                        </span>
                    </h4>
                </div>
            </div>
            <hr class="border-2 opacity-50">
            <div class="row text-left">
                <div class="col-12">
                    <h4>The exchanger/pair with the lowest Bitcoin price is on <span class="varFromEjs">
                            <%= marketCheap %>
                        </span> in BTC/
                        <span class="varFromEjs">
                            <%=bitcoinPrice.lowest.target%>
                        </span>pair at
                        <span class="varFromEjs">
                            <%= bitcoinPrice.lowest.price.toLocaleString('us-US')%> $
                        </span>
                    </h4>
                </div>
            </div>
            <hr class="border-2 opacity-50">
            <div class="row text-left">
                <div class="col-12 ">
                    <h4>The exchanger/pair with the highest Bitcoin price is on <span class="varFromEjs">
                            <%= marketExpensive %>
                        </span> in BTC/
                        <span class="varFromEjs">
                            <%=bitcoinPrice.highest.target%>
                        </span> pair at
                        <span class="varFromEjs">
                            <%= expensive.toLocaleString('us-US')%> $
                        </span>
                    </h4>
                </div>
            </div>
            <hr class="border-2 opacity-50">
            <div class="row text-center">
                <div class="col-12 ">

                    <form class ="padding16px"action="/" method="post">
                        <p class="weight300">Get the most recent information by pressing the button after the countdown</p>
                        <div class ="weight300"id="countdown"></div>
                        <button class="btn btn-rounded btn-primary" type="submit" id="teste" disabled>Refresh
                            Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    function buttonTime() {
    setTimeout(function(){
        document.getElementById("teste").disabled = false;
    console.log(document.getElementById("teste").disabled);
    }, 31000);}

    var timeleft = 30;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    document.getElementById("countdown").innerHTML = "Finished";
  } else {
    document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
  }
  timeleft -= 1;
}, 1000)


    buttonTime();
    </script>





    <%- include('partials/footer'); %>